ul#nav-mobile.side-nav
  li: a(href='/stream') #{__('Stream')}
  li: a(href='/search') #{__('Search')}
  li: a.modal-trigger(href='#info') #{__('Info')}
  li: a(href='/logout') #{__('Logout')}
  li.donate: a.modal-trigger.orange-text.darken-1(href='#donate') #{__('Love this tool?')}
