.col.s12.m6.infsc-item
  .card.item(data-id=row._id, data-index=row._index, data-type=row._type)
    if row._source.image && imageNotBlank(row._source.image)
      .card-image
        a(href=row._source.url, target='_blank')
          img(src=row._source.image alt='')
          if row._type != 'message'
            span.card-title #{row._source.title}
    else if row._source.publicUrl
      .card-image
        a(href=row._source.publicUrl, target='_blank')
          img(src=row._source.publicUrl alt='')
          if row._type != 'message'
            span.card-title #{row._source.title}
    if row._type == 'media'
      if row._source.embed
        - var embed = row._source.embed.replace(/[\\]*/g, '')
        .card-media!= embed
    .row
      .col.s10
        .card-date.grey-text.lighten-1 
          em: small #{moment(new Date(row._source.timestamp)).fromNow()} 
      .col.s2.right-align
        a.dropdown-button.share-button.grey-text.lighten-1(href='#', data-activates='share-#{row._id}')
          i.mdi-social-share
        ul.dropdown-content.share-content(id='share-#{row._id}')
          li: a.grey-text.lighten-1(href='#', data-share-google-plus, data-share-url=row._source.url) Google+
          li: a.grey-text.lighten-1(href='#', data-share-twitter, data-share-text=row._source.title, data-share-url=row._source.url) Twitter
    .card-content.darkgrey-text
      - if ((!row._source.image || !imageNotBlank(row._source.image)) && !row._source.publicUrl)
        if row._type != 'message' && row._type != 'media'
          a(href=row._source.url, target='_blank')
            span.card-title.grey-text.text-darken-4 #{row._source.title}
      if row._type == 'media'
        p.flow-text.truncate #{row._source.title}
      else if row._source.description
        - var description = row._source.description.replace(/\\n/g, '')
        p.truncate.flow-text!= description
      if row._source.datetime
        p
          em: small.grey-text Article from #{row._source.datetime}
      if row._source.url
        p.truncate
          small: a.green-text(href=row._source.url, target='_blank', title='#{row._source.url}') #{row._source.url}
      else if row._source.publicUrl
        p.truncate
          small: a.green-text(href=row._source.publicUrl, target='_blank', title='#{row._source.publicUrl}') #{row._source.publicUrl}
    .card-action
      a(href='/view/#{row._id}') View
      a.delete(href='#') Delete
      img.circle.datasource-img(width='26', height='26', src='/img/logo/#{row._source.datasource}.png', title='Source: #{row._source.datasource}')