doctype html
html
  head(profile='http://a9.com/-/spec/opensearch/1.1/')
    include _parts/header.jade
    link(rel='search', type='application/opensearchdescription+xml', href='#{baseurl}/opensearch.xml', title='#{appdata.name}')
    block header
    
  body.grey.lighten-4
    header.navbar-fixed
      nav.light-blue.lighten-1.headroom(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo.truncate(href='/stream') #{title}
            if (user)
              include _parts/nav.jade
      if (user)
        include _parts/nav-mobile.jade
      if (appdata.ui.github.enable && appdata.ui.github.repository)
        a(href='https://github.com/#{appdata.ui.github.repository}.git', target='_blank')
          img.github-badge(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
    
    main
      .container
        - if (message && message != '')
          #message(style='display:none') #{message}
        block body
        
        if (user)
          .fixed-action-btn#share-button(style='bottom: 45px; right: 24px;')
            a.btn-floating.btn-large.waves-effect.waves-light.light-blue.lighten-1.btn-add
              i.mdi-content-add
        if (user)
          include _parts/modal/info.jade
        include _parts/modal/donate.jade
        
    block footer
           
    script(src='/assets/jquery/dist/jquery.min.js')
    script(src='/assets/materialize/dist/js/materialize.min.js')
    script(src='/assets/jquery-infinite-scroll/jquery.infinitescroll.min.js')
    script(src='/assets/headroom.js/dist/headroom.min.js')
    script(src='/assets/headroom.js/dist/jQuery.headroom.min.js')
    script(src='/assets/share.js/dist/share.js')
    script(src='/js/app.js')
    block script
    