extends _layout

block header
  title Error #{status} | #{appdata.name}
  

block body
  .section.no-pad-bot
    h1.header.center #{__('Yeah! Something\'s broken!')}
    p.center.flow-text #{status} - #{message}
    
  if (error) 
    textarea.code(rows=15, readonly)!= error
    