extends _layout

block header
  title #{title} | #{appdata.name}
  meta(name='description', content='#{package.description}')
  
block body
  if (!user)
    .section.no-pad-bot
      h1.header.center Welcome to #{appdata.name}
      p.center.flow-text This is the personal Websearch of 
        a(href='mailto:#{owner.email}', target='blank') #{owner.name}
      .center
        a.btn.waves-effect(href='/login') Login
      
  if (user)
    include _parts/search
    
    if (slides)
      .slider
        ul.slides
          each slide in slides
            li
              a(href=slide._source.url, target='_blank')
                img(src=slide._source.image, alt=slide._source.title)
                .caption.left-align
                  h3 #{slide._source.title}
                  h5.light.grey-text.text-lighten-3.hide-on-small-and-down #{slide._source.description}