extends _layout

block header
  title #{appdata.name}
  meta(name='description', content='#{package.description}')
  
block body
  .section.no-pad-bot
    h1.header.center Welcome to #{appdata.name}
    p.center.flow-text This is the personal Websearch of 
      a(href='mailto:#{owner.email}', target='blank') #{owner.name}
      
  if (user)
    include _parts/search
    
  if (!user)
    .row
      form(method='post', action='/login')
        .row
          .input-field.col.m6.s12.offset-m3
            input#username.validate(type='text', name='username', required)
            label(for='username') Username
        .row
          .input-field.col.m6.s12.offset-m3
            input#password.validate(type='password', name='password', required)
            label(for='password') Password
        .row
          .col.m6.s12.offset-m3
            input(type='hidden', name='_csrf', value='#{csrfToken}')
            button.waves-effect.waves-light.btn(type='submit') 
              i.mdi-action-lock-open 
          
block footer
  include _parts/footer.jade