extends _layout

block header
  title #{__(title)} | #{appdata.name}
  meta(name='description', content='#{__(appdata.description)}')
  
block body
  if (!user)
    .section.no-pad-bot
      h1.header.center #{__('Welcome to %s', appdata.name)}
      p.center.flow-text #{__('This is the personal Websearch of')} 
        a(href='mailto:#{owner.email}', target='blank') #{owner.name}
      .center
        a.btn.waves-effect(href='/login', class=appdata.ui.theme.buttonColor) #{__('Login')} 
      
  if (user)
    include _parts/search
    
    if (slides)
      .slider
        ul.slides
          each slide in slides
            li
              a(href=slide._source.url, target='_blank')
                img(src=slide._source.image, alt=slide._source.title)
                .caption.left-align
                  h3 #{slide._source.title}
                  p.light.grey-text.text-lighten-3: em #{__('%s from %s', moment(new Date(slide._source.timestamp)).fromNow(), slide._source.datasource)}