doctype xml
OpenSearchDescription(xmlns='http://a9.com/-/spec/opensearch/1.1/')
  ShortName #{appdata.name}
  Description #{package.description}
  Contact #{owner.email}
  Url(type='text/html', template='#{baseurl}/search?q={searchTerms}&amp;page={startPage?}')
  Url(type='application/rss+xml', template='#{baseurl}/feed.xml?q={searchTerms}')
