extends _layout

block header
  title #{__(title)} | #{appdata.name}
  meta(name='description', content='#{__(appdata.description)}')
  
block opensearch
  if result
    meta(name='totalResults', content=result.total)
    meta(name='startIndex', content=startIndex)
    meta(name='itemsPerPage', content=itemsPerPage)
    | !{header}
  
block body
  include _parts/search
              
  if result
    p Total results: #{result.total}
    if result.total > 0
      if appdata.ui.search.style == 'list' || mode == 'list'
        include _parts/list/collection.jade
      else
        include _parts/list/cards.jade
            
            
        .row !{pager}
  else
    h2 #{__('Search all the things!')}
            
            
              