extends _layout

block header
  title Search | #{appdata.name}
  
block body
  .section.no-pad-bot
    .row
      form.col.s12
        .row
          .input-field.col.m6.s12.offset-m3
            input#search.validate(type='search', name='q', required, value=q)
            label(for='search') Search Terms
            button.waves-effect.waves-light.btn(type='submit') 
              i.mdi-action-search
              
  if result
    p Total results: #{result.total}
    if result.total > 0
      ul.collection
        each row in result.hits
          li.collection-item.avatar
            img.circle(width='32', height='32', src='/img/logo/#{row._source.source}.png')
            span.title #{row._source.title}
            p.truncate #{row._source.description.content}