extends _layout

block header
  title Search | #{appdata.name}
  meta(name='description', content='#{package.description}')
  
block body
  include _parts/search
              
  if result
    p Total results: #{result.total}
    if result.total > 0
      ul.collection
        each row in result.hits
          li.collection-item.avatar
            img.circle(width='32', height='32', src='/img/logo/#{row._source.source}.png')
            span.title #{row._source.title}
            p.truncate #{row._source.description.content}