extends _layout


block header
  title #{document._source.title} | #{appdata.name}
  
block body
  .row
    .col.s12
      .card
        if document._source.image && imageNotBlank(document._source.image)
          .card-image
            a(href=document._source.url, target='_blank')
              img(src=document._source.image alt='')
              if document._type != 'message'
                span.card-title #{document._source.title}
        else if document._source.publicUrl
          .card-image
            a(href=document._source.publicUrl, target='_blank')
              img(src=document._source.publicUrl alt='')
              if document._type != 'message'
                span.card-title #{document._source.title}
        if document._type == 'media'
          if document._source.embed
            - var embed = document._source.embed.replace(/[\\]*/g, '')
            .card-media!= embed
        .card-date.grey-text.lighten-1 
          em: small #{moment(new Date(document._source.timestamp)).fromNow()} 
        .card-content.grey-text
          - if ((!document._source.image || !imageNotBlank(document._source.image)) && !document._source.publicUrl)
            if document._type != 'message' && document._type != 'media'
              a(href=document._source.url, target='_blank')
                span.card-title.grey-text.text-darken-4 #{document._source.title}
          if document._type == 'media'
            p.flow-text #{document._source.title}
          else if document._source.description
            - var description = document._source.description.replace(/\\n/g, '')
            p.flow-text!= description
        .card-action
          a.delete(href='#', data-id=document._id) Delete
          img.circle.datasource-img(width='26', height='26', src='/img/logo/#{document._source.datasource}.png', title='Source: #{document._source.datasource}')
