#info.modal.modal-fixed-footer
  .modal-content
    h4 #{appdata.name} #{__('Info')}
    .row
      .col.s12.m7
        if appdata.description
          p #{__(appdata.description)}
        else 
          p #{__(pckg.description)}
      .col.s12.m5
        table.grey-text.lighten-1.condensed
          tr
            th #{__('Version')}
            td #{pckg.version}
          tr
            th #{__('Website')}
            td
              a(href=pckg.homepage, target='_blank') #{__('Home')}
              |  | 
              a(href=pckg.bugs, target='_blank') #{__('Issues')}
    .row
      .col.s12.m4.hide-on-med-and-down.box
        h5.box-title #{__('Bookmarklet')}
        .box-body #{__('Drag this button over your bookmarks to push content from everywhere into the search-server.')}
        .box-footer.center-align: a.btn.btn-bookmarklet(href=bookmarklet(), class=appdata.ui.theme.buttonColor) #{__('Push to %s', appdata.name)}
      .col.s12.m4.box
        h5.box-title #{__('Search-Plugin')}
        .box-body #{__('To use the search directly in the browser add the Search-Plugin.')}
        .box-footer.center-align: a.btn.add-search(href='#{baseurl}/opensearch.xml', class=appdata.ui.theme.buttonColor) #{__('Add Search-Plugin')}
      if isAdmin()
        .col.s12.m4.box
          h5.box-title #{__('Elasticsearch Head')}
          .box-body #{__('Open the Elasticsearch Head-Plugin in a new tab.')}
          .box-footer.center-align: a.waves-effect.btn(href='#{config.elasticsearch.host}/_plugin/head', target='_blank', class=appdata.ui.theme.buttonColor) #{__('Open in Browser')}
     
    h4 #{__('Donate to IFTTT-Elasticsearch')}
    .row 
      .col.s12.m4.center-align
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank')
          input(type='hidden', name='cmd', value='_donations')
          input(type='hidden', name='business', value='magdev3.0@googlemail.com')
          input(type='hidden', name='lc', value='US')
          input(type='hidden', name='item_name', value='Marco Grätsch (IFTTT-Elasticsearch)')
          input(type='hidden', name='no_note', value='0')
          input(type='hidden', name='currency_code', value='EUR')
          input(type='hidden', name='bn', value='PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest')
          input(type='image', src='/img/logo/paypal-128.png', name='submit', title=__('Paypal'))
      .col.s12.m4.center-align
        a(href='bitcoin:1Bmw9e3VBuCZzmtk4r9QiEUuVDPmSBp7tW?amount=0.1&message=Donation%20to%20IFTTT-Elasticsearch', title=__('Bitcoin'))
          img.circle(src='/img/logo/bitcoin-128.png', alt=__('Bitcoin'))
      .col.s12.m4.center-align
        a(href='http://www.amazon.de/gp/registry/wishlist/9OHSEUUDSJGD', target='_blank', title=__('Amazon Wishlist'))
          img.circle(src='/img/logo/amazon-128.png', alt=__('Amazon Wishlist'))
  .modal-footer
    button.waves-effect.btn.modal-action.modal-close(class=appdata.ui.theme.buttonColor) #{__('Close')}