#info.modal.modal-fixed-footer
  .modal-content
    h3 #{appdata.name} Info
    if appdata.description
      p #{appdata.description}
    else 
      p #{package.description}
    .row
      .col.s12.m6.hide-on-med-and-down
        h4 Bookmarklet
        p Drag this button over your bookmarks to push content from everywhere into the search-server.
        p: a.btn.btn-bookmarklet(href=bookmarklet()) Push to #{appdata.name}
      .col.s12.m6
        h4 Search-Plugin
        p To use the search directly in the browser add the Search-Plugin.
        p: a.btn.add-search(href='#{baseurl}/opensearch.xml') Add Search-Plugin
      .col.s12.m6
        h4 Elasticsearch
        p Open the Elasticsearch Head-Plugin in a new tab.
        p: a.waves-effect.btn(href='#{config.elasticsearch.host}/_plugin/head', target='_blank') Open in Browser
        
  .modal-footer
    a.waves-effect.btn.modal-action.modal-close(href='#') Close